body {
  font-family: sans-serif;
}

header,
footer {
  box-sizing: border-box;
  text-align: center;
  padding: 0.5rem;
}

header {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin: 0 0.5em;
}

.container {
  width: 80%;
  max-width: 1024px;
  margin: 10px auto;
}
